@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "bootstrap";
@import url('https://css.gg/cloud.css');
@import url('https://css.gg/sun.css');
@import url('https://css.gg/stopwatch.css');

.navbarColor {
    background: rgba(2, 0, 36, 0.835);
}




@include media-breakpoint-up(md){


}


@include media-breakpoint-up(lg){
    .navbar_size {
      width: 100%;

      .navbar {
        width: 80%;
        height: 15vh;
        margin: 0 auto;
        background-color: transparent;

        .navbar-collapse {
          .head-title {
            font-size: 2rem;
          }
          
            .nav {
              height: 10vh;
            }
          
        }
      }
    }

  
}

@include media-breakpoint-up(xl){
    .navbar_size {
      width: 100%;

        .navbar {
        width: 80%;
        height: 15vh;
        margin: 0 auto;

        .navbar-collapse {
          .head-title {
            font-size: 2.5rem;
          }
          
            .nav {
              height: 10vh;
              color: black;
              // background: rgb(217, 222, 223);
              // background: linear-gradient(
              //   90deg,
              //   rgba(217, 222, 223, 0.4514180672268907) 0%,
              //   rgba(13, 12, 11, 0.8687850140056023) 42%,
              //   rgba(2, 0, 36, 1) 100%
              // );
            }
          
        }
      }
    }
}

@include media-breakpoint-up(xxl){
    .navbar_size {
      width: 100%;

      .navbar {
          
        
        margin: 0 auto;
        background-color: transparent;

        .head-title {
            font-size: 2.5rem;
        }

        .navbar-collapse {
          

          .nav {
            width: 100%;
              height: 10vh;
              color: black;
              // background: rgb(217, 222, 223);
              // background: linear-gradient(
              //   90deg,
              //   rgba(217, 222, 223, 0.4514180672268907) 0%,
              //   rgba(13, 12, 11, 0.8687850140056023) 42%,
              //   rgba(2, 0, 36, 1) 100%
              // );
            
          }
        }
      }
    }

    
}