.headerbgimage {
    background-image: url(../../images/nikolay-kovalenko-M0aij6vedLE-unsplash.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    filter: blur(2.5px) grayscale(50%);
    position: relative;
    top: 0;
}